


body

{
  width: 100%;
  overflow-x: hidden;
}

#conteneur

{

  
  display: flex; 
  width: 100%
 

}


@font-face {
  font-family: 'gandhi_sansregular';
  src: url('fonts/GandhiSans-Regular-webfont.eot');
  src: url('fonts/GandhiSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/GandhiSans-Regular-webfont.woff2') format('woff2'),
       url('fonts/GandhiSans-Regular-webfont.woff') format('woff'),
       url('fonts/GandhiSans-Regular-webfont.ttf') format('truetype'),
       url('fonts/GandhiSans-Regular-webfont.svg#gandhi_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}







#bandejaune
{
  
  width:30%;
  
  font-family: 'Gandhi_sansregular'; 
  font-size: 1em;
  background-color: #feca07;
  
}

#imagecv
{

  
   display: flex;
   justify-content: center;
   margin-top: 40px;
   margin-bottom: 40px;
}

img

{
  
  width: 150px;
  border-radius: 50%;
  }


h3

{

font-size: 30px;
padding: 5px 10px 5px 10px; 

}

#contact

{
  
  background-color: black;
  color: #feca07;
  text-align: center;
} 

#coordonnees

{
  font-size: 1em;
  margin-left: 20px;
  margin-top: 40px;
}


#apropos

{
  background-color: black;
  color: #feca07;
  text-align: center;
  margin-top: 230px;
}

#describe

{

  margin-left: 20px;
  margin-right: 20px;
  flex: 1;
  text-align: justify;
   
  
}

#loisirs
{
  

  background-color: black;
  color: #feca07;
  text-align: center;
  margin-top: 390px;
  align-items: center;
 
  
}

#icones

{
display: flex;
justify-content: center;


}


.icone

{

  

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 15px;
  display: inline-block;
  text-align: center;
 


}

#video

{

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 30px;
  margin-top: 41px;

}

.fa-video

{
  font-size: 40px;
  margin-left: 4px;
  margin-top: 5px;
}

#travel

{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 30px;
  margin-top: 41px;
  
  

}

.fa-plane

{
  font-size: 40px;
  margin-left: 4px;
  margin-top: 5px;
  
}


#sport

{

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 30px;
  margin-top: 41px;
  

}

.fa-dumbbell

{

  font-size: 38px;  
  margin-left: 1px;
  margin-top: 5px;


}



#main
 
{

  width: 70%;
  
  font-family: 'Gandhi_sansregular'; 
  padding-left:0px;
  padding-right: 0px;
  padding-top:20px;
  padding-bottom: 20px;

}

#fas fa-briefcase

{

background:#feca07;
margin-top: 50px;

}

h1

{  
   font-size: 2.5em;
   font-family: 'Gandhi_sansregular';  
   margin-top: 80px;
   margin-left: 60px;
   
}
#posteactuel
{
  font-family: 'Gandhi_sansregular';
  margin-top: -10px;
  margin-left: 60px;

  line-height: 0px;
  font-size: 1.3em;
  
}

.prenom
{
  color: #feca07;
}

hr
{
  width: 7%;
  margin-left: 0em;
  border:1px solid #feca07;
  margin-top: -5px;
}
h2


{
    font-family: 'Gandhi_sansregular';  
    font-size: 1em;
    margin-top: 40px;
    margin-left: 70px;
    
    border-bottom: 1.5px solid #feca07;
    line-height: 1.5em;

}   


#section_formation

{

  margin-top: 50px;

}

#section_experience

{
margin-top: 50px;
}

.formation

{
 
margin-top: 1px;
margin-left: 40px;
width: 90%;
  
}

.experience

{
 
margin-top: 20px;
margin-left: 40px;
width: 90%;
  
}




ul
{

margin-left: 1px;
width: 100%;
margin-top: 40px;


}

li
{

display: flex;
margin-top: 5px; 
}
.gauche

{
width: 40%;
margin-left: 10px;
}

.droite

{


width: 80%;
margin-left: 0px;
padding-bottom: 10px;

}


.point

{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #feca07;
  margin-left: -20px;
  margin-bottom: -30px;
  
}

.principal

{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #feca07;
  margin-left: -19px; 
  margin-bottom: -30px;
  
}
.cercle

{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border:1px solid #feca07;
  margin-left: -23px;
  margin-bottom: -10px;

}





.ville
{
  margin-top: 10px;

}
.date
{

  
  text-align: justify;
  margin-top: 20px;

}
.sous-titre
{
font-weight: bold;
margin-left: 50px;
padding-top: 0px;




}

.poste

{
margin-left: 50px;
padding-bottom:1px;
}

.texte

{
margin-left: 50px;
margin-top: 10px;
}

h4
{
  margin-top: 1px;
  
}

#footer

{
  margin-top:  100px;
}

#block

{

display: flex;
margin-top: 30px;
}
.name
{
font-weight: bold;
}

#recommandation

{
font-size: 1em;
margin-left:80px;
display: flex;

}

#recommandation2

{
font-size: 1em;
margin-left:170px;
display: flex;
}




@media all and (max-width: 700px)

{


#conteneur

{
width: 100%;
flex-direction: column;
  
}

#bandejaune

{
  width: 100%;
  flex-direction: column;
  
}

#main
{

  width: 100%;
  flex-direction: column;
  padding-left: 0px;
  
}

h1
{
  width: 100%;
  flex-direction: column;
  
}
.prenom

{
  width: 100%;
  flex-direction: column;
}
#section_formation

{

  width: 100%;
  flex-direction: column;
}


#section_experience

{
  width: 100%;
  flex-direction: column;

}

ul
{
  width: 100%;
  flex-direction: column;

}

li
{
  width: 100%;
  flex-direction: column;

}

#footer

{
  width: 100%;
  flex-direction: column;
}

#block
{
  width: 100%;
  flex-direction: column;
  display: flex;
}

#recommandation2

{
  width: 100%;
  text-align: left;
  margin-left: 80px;;
}

.formation

{
 
margin-top: 1px;
margin-left: 40px;
width: 90%;
  
}

.experience

{
 
margin-top: 20px;
margin-left: 40px;
width: 90%;
  
}
}

